/***
    With help from http://kaikkonendesign.fi/typography/
 */
body {
  line-height: 1.5em;
  color: #444;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  background-color: #FAFAFA;
  padding-top: 60px;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
footer {
  line-height: 1.1em;
  color: #222;
  padding: 0.6em 0;
}
pre {
  overflow: auto;
}
p {
  margin-bottom: 0.5em;
}
li {
  line-height: 1.5em;
}
ul.posts {
  list-style-type: none;
  margin-left: 0px;
}
ul.posts a {
  font-size: 2em;
  line-height: 1.1em;
  display: block;
}
ul.posts small {
  color: #aaa;
}
ul.posts li {
  padding: 1em 0;
}
.alert {
  margin-top: 20px;
}
.big-icon {
  font-size: 1.5em;
}
.footer {
  background-color: #EAEAEA;
  border-top: 1px solid #DADADA;
  width: 100%;
  padding: 30px 0;
  /*margin: 0 -20px;*/

}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  .footer {
    margin: 0 -20px;
    padding: 30px 20px;
  }
}
